.card {
  width: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: wheat;
  gap: 8px;
 
}

.header {
    font-weight: 400;
    margin: 0;
}

.img {
    height: 110px;
    width: 100%;
    object-fit: contain;
}

.button {
  background-color: #b8bcb5;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border: none;
}

.activeButton {
  background-color: #e6c635;
}
